# Python version
#python>=3.12.0

# Core LLM & agent libs
langchain>=0.1.20
langgraph>=0.0.8
langgraph-checkpoint-postgres>=2.0.0
langmem==0.0.30


# Validation / data
pydantic>=2.7

# Testing
pytest>=8.0

# Misc
python-dotenv

# ASGI / PostgreSQL
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
SQLAlchemy>=2.0
alembic>=1.13.0
psycopg[binary,pool]>=3.2.0
pgvector>=0.3.6
Jinja2>=3.1

langchain-google-genai>=4.3.3
google-generativeai>=0.8.0,<1.0

# Vector database & semantic search
qdrant-client>=1.7.0
sentence-transformers>=2.2.0
requests>=2.31.0

#Unicode
Unidecode

# MCP
fastmcp>=0.1.0
langchain-mcp-adapters>=0.1.0
langsmith

# Web scraping
selenium>=4.0.0
beautifulsoup4>=4.12.0
openpyxl>=3.1.0
pandas >=2.2.0