# Python version
#python>=3.12.0

# Core LLM & agent libs
langchain>=0.1.20
langgraph>=0.0.8


# Validation / data
pydantic>=2.7

# Testing
pytest>=8.0

# Misc
python-dotenv

langchain-google-genai>=0.1
google-generativeai>=0.8.0,<1.0

# Vector database & semantic search
qdrant-client>=1.7.0
sentence-transformers>=2.2.0
requests>=2.31.0

#Unicode
Unidecode

# MCP
fastmcp>=0.1.0
langchain-mcp-adapters>=0.1.0

# Web scraping
selenium>=4.0.0
beautifulsoup4>=4.12.0
openpyxl>=3.1.0
pandas >=2.2.0